/* -------------------fonts---------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Poppins:wght@500&family=Work+Sans:wght@700&display=swap');

/*--------------- common styles---------- */
.primary-color {
    color: #131313;
}

.seconery-color {
    color: #FF900E;
}

.Tertiary-color {
    color: #727272;
}

/* header section styles */
.header {
    width: 100%;
    height: 1322px;
    /* position: absolute; */
    background-color: rgba(255, 144, 14, 0.1);
    font-family: 'Work Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
}

.nav-title {
    list-style: none;
    font-weight: 800;
    font-size: 45px;
    margin-top: 40px;
    margin-left: 206px;
    color: #131313;
}

nav ul {
    display: flex;
    align-items: center;
    color: #424242;
    font-size: 18px;
    margin-top: 53px;
    margin-right: 26px;
}

nav li {
    list-style: none;
    margin-left: 50px;

}

/* ----------------description section styles--------- */
.banner {
    text-align: center;
    margin-top: 102px;


}

.banner-title {
    font-size: 64px;
    margin-top: 30px;

}

.banner-description {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
}

.btn-primary {
    font-size: 20px;
    font-weight: 600px;
    margin-top: 33px;
    padding: 21px;
    height: 64px;
    width: 180px;
    color: #FFFFFF;
    background: #FF900E;
    border: 0;
    border-radius: 8px;
}

.banner-img {
    border: 0;
    border-radius: 8px;
    margin-top: 50px;
    margin-right: 276px;
    margin-bottom: 70px;
    margin-left: 206px;
}

/* -----------------Main (Features) section----------- */
/* .section{
    margin-top: 130px
}
main {
    width:100%;
     margin: 0 auto;
} */
.features {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}

.feature-img {
    margin-top: 57px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.feature-detail {
    width: 537px;
    height: 304px;
    margin-top: 260px;
    margin-left: 73px;

    margin-bottom: 322px;
}

.feature-title {
    font-weight: 500;
    font-size: 45px;

}

.feature-description {
    font-weight: 400;
    font-size: 16px;
    margin-top: 24px;
    color: #727272;
}

button {
    margin-top: 32px;
}

/* -------------Experiences styles------------ */
.container {
    width: 100%;
    height: 1059px;
    display: flex;
    padding-left: 30px;
    /* position: relative; */

}

.icon {
    display: flex;
    align-items: center;
}

.section-title {
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;

}

.fa-pipe {
    width: 5px;
    height: 106px;
    background: #FF900E;

}

.section-detail {
    color: #727272;
    margin-top: 24px;
    margin-bottom: 30px;

}

.experiences {
    margin: 0px;
    padding: 30px;
}

.exp-title {
    font-weight: 600;
    font-size: 20px;
    color: #131313
}

.exp-detail {
    /* width: 586px; */
    height: 171px;
    /* left: 178px; */
    border: 0;
    margin-top: 10px;
    /* padding-left: 30px; */
    color: #727272;
    text-overflow: ellipsis;
}

.container-img {
    width: 708px;
    height: 982px;
    border-radius: 8px;
    /* */
}

.img-btn {

    font-size: 25px;
    font-weight: 500px;
    border: 0px;
    border-radius: 8px;
    padding: 45px;
    width: 342px;
    height: 200px;
    left:500px;
    color: #FFFFFF;
    background: #FF900E;
}

.large {
    font-weight: 700;
    font-size: 65px;
}
#position-img{
    position:relative;
    z-index:1;
}

#position-btn{
    position:relative;
    top: -150px;
    left:10px;
   z-index: 2;
}
*/
/* Achivement section */
.achivement{
    
}
.achivement-title{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-top: 144px;
    margin-bottom: 24px;
    margin-left: 240px;
}
.achivement-detail{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
    margin-bottom:100px;
    margin-left: 240px;
}
.achivement-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 134px;
    margin-left: 240px;
  
}
.acv-box{
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;
   padding:32px;
  
}
.number{
    font-weight: 600;
font-size: 45px;
color:  #424242;
}
.text{
    font-weight: 600;
font-size: 20px;
color: #727272;
}
/* ---------------------sponsor-description------------------ */
.sponsor-description{
 text-align: center;
}
.s-title{
    font-weight: 700;
font-size: 45px;
margin-top: 180px;
color: #131313;
}
.s-detail{
    font-weight: 400;
font-size: 16px;
    margin-top: 24px;
margin-bottom: 50px;
color:#727272;
}
.sponsors{
display: flex;
justify-content: center;
align-items: center;
gap:100px
}


/* ------------make Responsive for Mobile Device------------ */
/* @media only screen and (max-width:576px) {
    nav {
        
        flex-direction:column;
        justify-content: center;
        background-color:red;
    
}
nav .ul{
display: none;
justify-content:flex-end
} 

 } */